<div class="col-xs-12">
  <h2>International Projects</h2>

  <p>
    The Global Network of Personal Genome Projects includes researchers
    at leading institutions around the globe:
  </p>

  <ul>
    <li>
      {% include pgp-harvard.html %}
    </li>

    <li>
      {% include pgp-canada.html %}
    </li>

    <li>
      {% include pgp-uk.html %}
    </li>

    <li>
      {% include genom-austria.html %}
    </li>

    <li>
      {% include pgp-china.html %}
    </li>

  </ul>

</div>
<div class="col-xs-12">
  <a id="project-guidelines" class="anchor-offset"></a>

  <h3>Global Network Guidelines</h3>

  <p>
    Members of the Global Network of Personal Genome Projects adhere to
    the following guidelines:
  </p>

  <ol>
    <li>
      <p>
        <b>Public Data.</b> Participants are invited to publicly share
        their genomic and trait data in an integrated, publicly-accessible
        format using a CC0 waiver or equivalent public domain license.
      </p>
    </li>
    <li>
      <p>
        <b>Non-anonymous.</b> The risks of participant
        re-identification are addressed up front, as an integral part of
        the consent and enrollment process; neither anonymity nor
        confidentiality of participant identities or their data are
        promised to research participants.
      </p>
    </li>
    <li>
      <b>Equal access.</b> Participants are provided access to their
      individual research data in a timely and complete fashion (i.e.,
      raw data and not just summary results, where feasible).
    </li>
    <li>
      <b>Oversight.</b> Each member must at all times maintain
      current Institutional Review Board (IRB) approval or local
      equivalent, and will work with PersonalGenomes.org to continue to
      implement identified best practices for responsible public
      genomics research.
    </li>
    <li>
      <b>Not for profit.</b> The research project is managed or
      sponsored by a non-profit organization (or local equivalent). In
      addition, other than purposes of reasonable cost recovery, the
      member shall not sell or license participant data or tissues.
    </li>
  </ul>
</div> <!-- .col-xs-12 -->
